.is-live {
    right: 0px;
    width: 80px;
    bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    letter-spacing: 2px;
}

.bg-pink {
    background-color: #cb6968;
}

.bg-pink:hover {
    background-color: #ce5351;
}